.temperature {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  justify-content: space-between;
}
.temp {
  display: grid;
  grid-template-columns: auto auto;
}
.city {
  text-transform: capitalize;
  line-height: 10px;
}
.city p {
  color: #aaa9a9;
  font-weight: 500;
  font-size: 16px;
}
.units {
  color: var(--secondary);
}
.tempDigit {
  font-size: 64px;
  margin-right: 120px;
}
.temp h1 {
  position: relative;
}
.symbol {
  position: absolute;
  top: 0;
  left: 80px;
}
.celsius,
.farenheit {
  cursor: pointer;
}
@media (max-width: 600px) {
  .tempDigit {
    font-size: 32px;
    margin-right: 60px;
  }
  .symbol {
    top: 8px;
    left: 50px;
    font-size: 14px;
  }
  .city p {
    font-size: 12px;
  }
}
@media (max-width: 300px) {
  .city h1 {
    font-size: 24px;
  }
  .tempDigit {
    font-size: 24px;
    margin-right: 60px;
  }
  .symbol {
    top: 15px;
    left: 30px;
    font-size: 10px;
  }
  .img img {
    height: 50px;
    width: 50px;
  }
}
