.temperature {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  justify-content: space-between;
}
.city {
  text-transform: capitalize;
  line-height: 10px;
}
.city p {
  color: #aaa9a9;
  font-weight: 500;
  font-size: 16px;
}
.units {
  color: var(--secondary);
}
.tempDigit {
  font-size: 64px;
  margin-right: 100px;
}
.temp h1 {
  position: relative;
}
.symbol {
  position: absolute;
  top: 0;
  left: 150px;
}
.celsius,
.farenheit {
  cursor: pointer;
}
@media (max-width: 600px) {
  .tempDigit {
  font-size: 32px;
  margin-right: 60px;
}
.symbol {
  top: 8px;
  left: 75px;
  font-size: 14px;
}
.city p {
  font-size: 12px;
}
}
@media (max-width: 450px){
  .city h1{
    font-size: 24px;
  }
  .tempDigit {
  font-size: 24px;
  margin-right: 60px;
}
.symbol {
  top: 15px;
  left: 55px;
  font-size: 10px;
}
}